
%Mont-Medium {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
  display: swap;
}

%Mont-Regular {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
  display: swap;
}

%Cormorant {
  font-family: 'CormorantGaramond-Regular', sans-serif;
  font-weight: 400;
  display: swap;
}

$white: #FFFFFF;
$black: #2D2D2D;
$gold: #B7B295;
// $text: #F2F1ED;
// $background: #3B3B3B;
// $line: #BCB3A9;