@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header {
  position: relative;
  background-color: $white;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  // img{
  //   width: 180px;
  //   height: 150px;
  // }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  width: 100%;
  align-items: center;
}

.header__social {}

.header__social-list {
  display: inline-block;

  &+.header__social-list {
    margin-left: 30px;
  }
}

.header__email,
.header__phone {
  margin: 0 50px;
}

.header__line {
  padding: 25px;
  background-color: $gold;
}

.header__line-wrapper {
  margin: 0 auto;
  text-align: center;
}

.header__line-link {
  @extend %Mont-Regular;
  color: $white;
  font-size: 24px;
  margin: 0 100px;
  transition: all .3s;

  &:hover {
    color: $black;
  }
}

// end header


// start section onescreen
.onescreen {
  background-image: url('../images/content/main-screen.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  margin-top: -230px;
  // height: 100vh;
  height: 960px;

  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  margin-top: -230px;
}

.onescreen__title {
  padding-top: 250px;
  text-transform: uppercase;
  @extend %Mont-Regular;
  font-size: 64px;
  color: white;
  margin-bottom: 30px;
}

// end section onescreen

// start section about
.about {
  // padding-top: 0;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__item {
  // width: 50%;
}

.about__item-img {
  width: 738px;
  // height: 766px;
  // border-radius: 3px;
}

.about__item-text {
  max-width: 738px;
  width: 100%;
  padding-left: 50px;
}

// end section about

// start section individual

.individual__text {
  margin-bottom: 30px;
}
.individual__btn{
  margin-bottom: 50px;
}

.individual__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  cursor: pointer;
}

.individual__item-title {
  @extend %Cormorant;
  text-align: right;
  font-size: 96px;
  background: linear-gradient(270deg, #B7B295 0%, rgba(255, 255, 255, 0.00) 100%);
  padding: 10px 50px;
  height: fit-content;
  text-transform: uppercase;
}
.individual__item-left{
  position: relative;
  z-index: 1;
  margin-right: -200px;
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
}
.individual__item-text{

  max-width: 500px;
  width: 100%;
  padding-right: 30px;
}
.individual__item-right{
 max-width: 935px;
 width: 100%;
 height: 700px;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
}

// end section individual
@import 'media';